<link rel="stylesheet" href="../../src/css/style.css" />
<link rel="stylesheet" href="../../src/css/menubar.css" />
<body>
  <section class="bar-menu">
    <div class="btn-home checked">
      <img
        class="img-btn"
        src="../../src/images/menubar/icon-home-fill.png"
        alt="btn-home"
      />
      <p>홈</p>
    </div>
    <div class="btn-chat">
      <img
        class="img-btn"
        src="../../src/images/menubar/icon-message-circle.png"
        alt="btn-chat"
      />
      <p>채팅</p>
    </div>
    <div class="btn-new-post">
      <img
        class="img-btn"
        src="../../src/images/menubar/icon-edit.png"
        alt="btn-new-post"
      />
      <p>게시물 작성</p>
    </div>
    <div class="btn-profile">
      <img
        class="img-btn"
        src="../../src/images/menubar/icon-user.png"
        alt="btn-home"
      />
      <p>프로필</p>
    </div>
  </section>
</body>
