<link rel="stylesheet" href="../../src/css/reset.css">
<link rel="stylesheet" href="../../src/css/userpost.css">

<link href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
<body>
  <article class="post">
    <h2 class="txt-hide">포스팅 카드</h2>
    <section class="post-card">
      <nav class="user-info">
        <a href="javascript:void(0)" class="post-card-profile">
          <img src="../../src/images/search/default_profile.png" alt="user-profile-img">
        </a>
        <ul class="user">
          <li>
            <a href="javascript:void(0)">
              <span class="user-name">애월읍 위니브 감귤농장</span>
              <span class="user-id">@weniv_Mandarin</span>
            </a>
          </li>
        </ul>
        <ul class="edit-btn-container">
          <li>
            <a href="javascript:void(0)" class="post-edit-btn">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="post-content-container">
        <p class="post-content-txt">벌써 같이 하늘에는 별 강아지, 까닭입니다. 피어나듯이 사랑과 부끄러운 것은 나의 있습니다. 릴케 지나가는 흙으로 남은 까닭입니다. 말 가난한 새워 다 둘 애기 많은
          쉬이 까닭입니다. 하나 별에도 자랑처럼 거외다.
          피어나듯이 이름과, 무엇인지 청춘이 같이 헤일 까닭입니다.</p>
        <div class="post-content-img">
          <!-- 이미지 여러개 들어 올 수도 있을 것 같아서 일단 div에 넣음 -->
          <img src="../../src/images/userpost/sample-posting-img.png" alt="feed-posting-image">
        </div>
        <ul class="like-comment-container">
          <li class="like">
            <button type="button" class="default">
              <span class="txt-hide">좋아요 버튼</span>
            </button>
            <span>58</span>
          </li>
          <li class="comment">
            <button>
              <span class="txt-hide">코멘트 버튼</span>
            </button>
            <span>12</span>
          </li>
        </ul>
        <p class="post-date">2022년 1월 3일</p>
      </div>
    </section>
  </article>
  </div>

  <!-- comment area -->
  <div class="horizontal-bar"></div>
  <div>
    <section class="comments-container">
      <h1 class="txt-hide">코멘트 컨테이너</h1>
      <!-- 코멘트 -->
      <article class="comment">
        <h2 class="txt-hide">코멘트</h2>
        <div class="user-info-container">
          <!-- 유저 프로필 이미지 -->
          <a href="">
            <img src="../../src/images/userpost/user-sample1.png" alt="user-profile-picture" />
          </a>
          <div class="comment-user-info">
            <a href="">LikeLion</a><span>· 5분 전</span>
          </div>
          <a href="javascript:void(0)" class="comment-edit-btn">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </a>

        </div>
        <p class="comment-txt">안녕하세요. 사진이 너무 멋있어요. 카메라 어떤거 쓰세요?</p>
      </article>
    </section><section class="create-comment">
      <h2 class="txt-hide">새로운 코멘트 작성</h2>
      <!-- 코멘트 남기기 창 -->
      <div class="horizontal-bar thin"></div>
      <div class="new-comment-container">
        <a href="#">
          <img src="../../src/images/userpost/user-default.png" alt="user-profile-picture" />
        </a>
        <label for="comment-txt"></label>
        <input type="text" id="comment-txt" placeholder="댓글 입력하기...">
        <button type="submit" class="comment-submmit-btn">게시</button>
      </div>
    </section>
  </div>

  <script src="../../src/js/userpost.js"></script>
</body>