header {
  width: 390px;
  padding: 13px 16px;
  border-bottom: 0.5px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#feed-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px;
  height: calc(100% - 108px);
  overflow-y: scroll;
  width: 390px;
}
.search-bar {
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
}
.search-btn {
  position: relative;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  background-image: url(../images/feed/search-icon.png);
  cursor: pointer;
}


/* post edit/delete modal */
.modal {
  position: relative;
  width: 390px;
  height: 100%;
  z-index: 1;
}
.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 390px;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: -1;
}

.modal-content {
  position: fixed;
  bottom: 0;
  width: 390px;
  height: 138px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  z-index: 10;
  padding-bottom: 10px;
}

.btn-to-close {
  width: 50px;
  height: 4px;
  background-color: #DBDBDB;
  border-radius: 5px;
  margin:16px auto;
}
.delete-btn,
.edit-btn {
  display: block;
  padding: 14px 0 14px 26px;
  width: fit-content;
}

.modal-btn a:hover {
  color: #7E3E9D;
  font-weight: 500;
}

.modal-delete {
  position: fixed;
  width: 252px;
  height: 110px;
  background-color: #ffffff;
  left: 70px;
  top: 50%;
  border-radius: 10px;
  z-index: 20;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  border: 1px solid #DBDBDB;
}

.modal-delete p {
  margin: 22px auto;
  font-size: 16px;
  font-weight: 500;
}

.cancel-delete-btn {
  display: flex;
}

.cancel-btn,
.delete-btn-final {
  width: fit-content;
  line-height: 18px;
  font-weight: 400;
  padding: 14px 49.3px;
  background-color: #ffffff;
  border-top: 1px solid #DBDBDB;
}

.cancel-delete-btn a:hover{
  color: #7E3E9D;
  font-weight: 500;
}

.cancel-btn {
  border-right: 1px solid #DBDBDB;
}

/* make behind modal darker when modal's opened */
.modal-bg {
  width: 390px;
  background-color: rgba(0, 0, 0, .1);
}
/* for modals to hide or display */
.hidden {
  display: none;
}