body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
}

.txt-hide {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

main {
  position: relative;
  width: 390px;
  height: 668px;
  padding: 0;
}

.section-feed-new-user {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 340px;
}

.section-feed-new-user .feed-title {
  color: #767676;
  margin-bottom: 20px;
}

.btn-search-feed {
  padding: 13px 34px;
  background-color: #7E3E9D;
  color: #ffffff;
  border-radius: 44px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.section-feed-new-user::before {
  content: "";
  position: absolute;
  background-image: url(../images/splash/logo_purple.png);
  width: 100%;
  height: 100%;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 98px;
} 


