* {
  box-sizing: border-box;
}

.main {
  padding: 54px 34px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 12px;
}

.title_desc {
  color: #767676;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 30px;
}

.relative_wrap {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.img_profile {
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  object-fit: fill;
}

.img_upload_btn {
  position: absolute;
  width: 36px;
  right: 0;
  bottom: 0;
}

.input_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

label {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #767676;
}

input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding: 8px 0;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #7e3e9d;
}

input::placeholder {
  color: #dbdbdb;
  line-height: 14px;
}

.err_msg {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #eb5757;
  margin-top: 6px;
}

.btn_submit {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  padding: 13px 0;
  width: 100%;
  background-color: #c0a4ce;
  border: none;
  border-radius: 44px;
  margin: 14px 0 20px 0;
}

.activate {
  background-color: #7e3e9d;
}

.link_register {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}
