@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
  box-sizing: border-box;
}

@keyframes moveUp {
  from {
    top: 40%;
  }
  to {
    top: 30%;
  }
}

@keyframes backColor {
  from {
    background-color: #fff;
  }
  to {
    background-color: #7e3e9d;
  }
}

@keyframes loginWrap {
  from {
    bottom: -40%;
  }
  to {
    bottom: 0;
  }
}

body {
  background-color: #7e3e9d;
  overflow: hidden;
  font-family: "Righteous", cursive;
  animation: backColor 3s;
}

.logo_wrap {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  animation: moveUp 3s;
}

.img_logo {
  width: 120px;
}

.logo_wrap p {
  font-family: 'Black Han Sans', sans-serif;
  margin-top: 10px;
}

.login_wrap {
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  padding: 50px 34px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: loginWrap 3s;
}

.btn_wrap {
  display: flex;
  flex-direction: column;
}

.btn_login {
  border-radius: 44px;
  padding: 13px 0;
  font-size: 14px;
  background-color: #fff;
  line-height: 18px;
  margin-bottom: 10px;
  color: #767676;
  position: relative;
  cursor: pointer;
}
.btn_login:hover {
  transform: scale(1.02);
}

.btn_login_kakao {
  border: 1px solid #f2c94c;
}

.btn_login_google {
  border: 1px solid #767676;
}

.btn_login_facebook {
  border: 1px solid #2d9cdb;
  margin-bottom: 20px;
}

.btn_login_kakao::before {
  content: "";
  background: url("../images/login/message-circle.png");
  display: inline-block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.btn_login_google::before {
  content: "";
  background: url("../images/login/google.png");
  display: inline-block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.btn_login_facebook::before {
  content: "";
  background: url("../images/login/facebook.png");
  display: inline-block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.link_wrap {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 30px;
}

.link_wrap a {
  text-decoration: none;
  color: #767676;
}

.link_email::after {
  content: "|";
  margin: 0 12px;
}

.link_wrap a:hover {
  font-weight: 700;
}
