* {
  box-sizing: border-box;
}

.bar-menu {
  position: fixed;
  /* top: calc(100% - 70px); */
  bottom: 0;
  width: 390px;
  border-top: 0.5px solid #dbdbdb;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #FFFFFF;
  z-index: 10;
}

button {
  background-color: #ffffff;
  font-size: 10px;
  color: #767676;
}

.btn-home,
.btn-chat,
.btn-new-post,
.btn-profile {
  display: inline-block;
  width: 84px;
  margin-right: 14px;
  padding: 15px 0 6px 0;
  cursor: pointer;
}

.img-btn {
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}

.btn-profile {
  margin-right: 0;
}

.checked {
  color: #7e3e9d;
}
