* {
  box-sizing: border-box;
}

header {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #dbdbdb;
  align-items: center;
  margin-bottom: 20px;
}

.btn_back {
  width: 22px;
  height: 22px;
}

.btn_upload {
  padding: 7px 26px;
  background-color: #c0a4ce;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  border: none;
  border-radius: 32px;
}

.activate {
  background-color: #7e3e9d;
}

.main {
  padding: 20px 34px;
  text-align: center;
}

.relative_wrap {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.img_profile {
  width: 110px;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.img_upload_btn {
  position: absolute;
  width: 36px;
  right: 0;
  bottom: 0;
}

.input_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

label {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #767676;
}

input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding: 8px 0;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #7e3e9d;
}

input::placeholder {
  color: #dbdbdb;
  line-height: 14px;
}

.err_msg {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #eb5757;
  margin-top: 6px;
}

.link_register {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}
