@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body {
  font-family: "Righteous", cursive;
}

.logo_wrap {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #7e3e9d;
}

.img_logo {
  width: 120px;
}
.logo_wrap p {
  font-family: 'Black Han Sans', sans-serif;
  margin-top: 10px;
}

.slogan {
  font-size: 0.35em;
  margin-top: 40px;
}
