* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.txt-hide {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.post {
  margin-bottom: 34px;
}
.post-card {
  width: 358px;
}

nav.user-info {
  margin: 4px 0 16px 0;
  display: flex;
  position: relative;
  align-items: center;
}
.post-card-profile {
  width: 42px;
  height: 42px;
}
.post-card-profile img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
  border: 0.5px solid #DBDBDB;
}
.user-info .user {
  margin-left: 12px;
}
.user span {
  display: block;
}
.user-name {
  line-height: 18px;
  font-weight: 500;
  font-size: 14px;
}
.user-id {
  color: #767676;
  font-size: 12px;
  line-height: 14px;
  margin-top: 2px;
}
.post-edit-btn {
  position: absolute;
  right: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url(../images/userpost/post-menu.png);
}

.post-content-container {
  padding-left: 54px;
}
.post-content-txt {
  margin-bottom: 16px;
  line-height: 18px;
  font-weight: 400;
  font-size: 14px;
}

.post-content-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px solid #DBDBDB;
  min-width: 304px;
  width: 100%;
  max-height: 228px;
}

/* for image slide */
.img-slide-container {
  display: flex;
  min-width: 304px;
  min-height: 228px;
  max-height: 228px;
  transition: all .4s;
}
.img-slide-container img {
  object-fit: cover;
  width: 100%;
}
.slide-buttons {
  position: absolute;
  bottom: 12px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%);
}
.slide-btn {
  width: 6px;
  height: 6px;
  margin-right: 6px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid black;
  cursor: pointer;
}
.slide-btn:last-child {
  margin-right: 0;
}
.slide-buttons .active {
  background-color: #7E3E9D;
  border-radius: 10px;
  border: 0.5px solid #7E3E9D;
}

.like-comment-container  {
  display: flex;
  margin: 12px 0 16px 0;
}
.like-comment-container li {
  display: flex;
  align-items: center;
  color: #767676;
}

.like-comment-container li.like {
  margin-right: 18.5px;
}
.like-comment-container li button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.like button.default {
  background-image: url(../images/userpost/like-icon.png);
}
.like-btn-on {
  background-image: url(../images/userpost/like-btn-on.png);
}

.like-active {
  animation: like 0.5s;
}

@keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.like-comment-container .comment button {
  background-image: url(../images/userpost/comment-icon.png);
}
.like-comment-container li span {
  margin: 4px 0 0 6px;
  font-size: 12px;
}

p.post-date {
  font-size: 10px;
  color: #767676;
  margin-bottom: 4px;
}

/* to hide element */
.hidden {
  display: none;
}