<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PODO: 채팅방</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/chat_room.css" />
  </head>

  <body>
    <!-- search section -->
    <header>
      <div class="header_wrap">
        <a href="chat_list.html">
          <img
            class="btn-back"
            src="../src/images/search/icon-arrow-left.png"
            alt="뒤로가기"
          />
        </a>
        <p class="chatroom_title">판부면 포도농장</p>
      </div>
      <button class="more_btn" type="button">
        <img
          src="../src/images/mypage/more-vertical.png"
          alt="더보기"
          class="img-more"
          onclick="openModal()"
        />
      </button>
    </header>
    <!-- dock bar (chat) -->
    <section class="bar-menu">
      <div class="input_wrap">
        <label for="img_upload">
          <img src="../src/images/chat/img-button.png" alt="" />
        </label>
        <input type="file" id="img_upload" hidden accept="image/*" />
        <input
          id="input_msg"
          class="input_msg"
          type="text"
          placeholder="메시지 입력하기.."
        />
      </div>
      <button id="send_btn" class="send_btn" disabled onclick="handleOnSend()">
        전송
      </button>
    </section>
    <!-- message list -->
    <main id="main">
      <!-- others chat -->
      <article class="other_chat">
        <img
          class="profile_img"
          src="../src/images/chat/basic-profile-img.png"
          alt=""
        />
        <div class="text_wrap">
          <div class="bubble other_bubble">
            안녕하세요. 포도 다섯 송이 구매하고 싶습니다.
          </div>
          <p class="text_time">12:39</p>
        </div>
      </article>
      <!-- my chat -->
      <article class="my_chat">
        <p class="text_time">12:50</p>
        <div class="bubble my_bubble">안녕하세요~ 포도 아주 맛있습니다.</div>
      </article>
      <!-- others chat -->
      <article class="other_chat">
        <img
          class="profile_img"
          src="../src/images/chat/basic-profile-img.png"
          alt=""
        />
        <div class="text_wrap">
          <div class="bubble other_bubble">
            택배 배송 가능한가요?
          </div>
          <p class="text_time">12:39</p>
        </div>
      </article>
      <!-- my chat -->
      <!-- <article class="my_chat">
        <p class="text_time">12:50</p>
        <div class="bubble my_bubble">네</div>
      </article> -->
    </main>
    <!-- modal 상단 ... 버튼으로 활성화 -->
    <div id="modal-wrap" class="model_wrap" hidden>
      <!-- modal 밖 wrap을 클릭하면 모달 hidden -->
      <div class="modal_out" onclick="closeModal()"></div>
      <div class="modal">
        <div class="modal_bar"></div>
        <button class="outBtn" onclick="outRoom()">채팅방 나가기</button>
      </div>
    </div>
    <script src="../src/js/chat_room.js" />
  </body>
</html>
