<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/menubar.css" />
  </head>

  <body>
    <!-- search section -->
    <header>
      <a>
        <img
          class="btn-back"
          src="../src/images/search/icon-arrow-left.png"
          alt="뒤로가기"
        />
      </a>
      <a href=""
        ><img
          src="../src/images/mypage/more-vertical.png"
          alt="더보기"
          class="img-more"
      /></a>
    </header>
    <!-- dock bar (menu) -->
    <section class="bar-menu">
      <button class="btn-home">
        <img
          class="img-btn"
          src="../src/images/menubar/icon-home.png"
          alt="btn-home"
        />
        <p>홈</p>
      </button>
      <button class="btn-chat">
        <img
          class="img-btn"
          src="../src/images/menubar/icon-message-circle-fill.png"
          alt="btn-chat"
        />
        <p>채팅</p>
      </button>
      <button class="btn-new-post" onclick="{toUpload()}">
        <img
          class="img-btn"
          src="../src/images/menubar/icon-edit.png"
          alt="btn-new-post"
        />
        <p>게시물 작성</p>
      </button>
      <button class="btn-profile" onclick="{toProfile()}">
        <img
          class="img-btn"
          src="../src/images/menubar/icon-user.png"
          alt="btn-home"
        />
        <p>프로필</p>
      </button>
    </section>
    <main>
      <span tabindex="0">
        <article class="chat">
          <div class="img_wrap">
            <img src="../src/images/chat/basic-profile-img.png" alt="" />
            <div class="newChat"></div>
          </div>
          <div class="text_wrap">
            <h2>애월읍 위니브 감귤농장</h2>
            <div class="flex_wrap">
              <p>이번에 정정 언제하맨마씸?</p>
              <p>2020.10.25</p>
            </div>
          </div>
        </article>
      </span>
    </main>
    <script>
      const toUpload = () => {
        location.href = "upload.html";
      };
      const toProfile = () => {
        location.href = "mypage.html";
      };
    </script>
  </body>
</html>
