<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/menubar.css" />
    <link rel="stylesheet" href="../src/css/feed.css" />
</head>

<body>
    <!-- search section -->
    <header>
      <p class="search-bar">계정 검색</p>
      <button class="search-btn" type="button">
        <span class="txt-hide">계정검색 버튼</span>
      </button>
    </header>
    <!-- first feed page for new user -->
    <main>
      <h1 class="txt-hide">피드 첫 화면</h1>
      <section class="section-feed-new-user">
        <h2 class="feed-title">유저를 검색해 팔로우 해보세요!</h2>
        <button class="btn-search-feed">검색하기</button>
      </section>
    </main>
    <!-- menu -->
    <footer>
      <section class="bar-menu">
        <div class="btn-home checked">
          <img class="img-btn" src="../src/images/menubar/icon-home-fill.png" alt="btn-home" />
          <p>홈</p>
        </div>
        <div class="btn-chat">
          <img class="img-btn" src="../src/images/menubar/icon-message-circle.png" alt="btn-chat" />
          <p>채팅</p>
        </div>
        <div class="btn-new-post">
          <img class="img-btn" src="../src/images/menubar/icon-edit.png" alt="btn-new-post" />
          <p>게시물 작성</p>
        </div>
        <div class="btn-profile">
          <img class="img-btn" src="../src/images/menubar/icon-user.png" alt="btn-home" />
          <p>프로필</p>
        </div>
      </section>
    </footer>
</body>

</html>