<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팔로워 목록</title>
    <link rel="stylesheet" href="../src/css/reset.css">
    <link rel="stylesheet" href="../src/css/followerList.css">
</head>
<body>
    <!-- 상단메뉴바 -->
    <header>
        <a>
            <img class="btn-back" src="../src/images/search/icon-arrow-left.png" alt="뒤로가기" />
        </a>
        <p>Followers</p>
    </header>
    <!-- 팔로우 목록 -->
    <h1 class="txt-hide">팔로우 목록</h1>
    <div class="follow-wrap">
        <img src="../src/images/followers/mandarin1.jpg" alt="프로필 사진" class="follow-img">
        <div class="txt-wrap">
            <p class="follow-name">애월읍 한라봉 최고 맛집</p>
            <p class="follow-info">정성을 다해 농사짓는 한라봉</p>
        </div>
        <button type="button" class="follow-btn-orange" id="follow-btn">팔로우</button>
    </div>
    <div class="follow-wrap">
        <img src="../src/images/followers/mandarin1.jpg" alt="프로필 사진" class="follow-img">
        <div class="txt-wrap">
            <p class="follow-name">애월읍 한라봉 최고 맛집</p>
            <p class="follow-info">정성을 다해 농사짓는 한라봉</p>
        </div>
        <button type="button" class="follow-btn-orange" id="follow-btn">팔로우</button>
    </div>
    <script src="../src/js/followerList.js"></script><div class="follow-wrap">
        <img src="../src/images/followers/mandarin1.jpg" alt="프로필 사진" class="follow-img">
        <div class="txt-wrap">
            <p class="follow-name">애월읍 한라봉 최고 맛집</p>
            <p class="follow-info">정성을 다해 농사짓는 한라봉</p>
        </div>
        <button type="button" class="follow-btn-orange" id="follow-btn">팔로우</button>
    </div>
    <script src="../src/js/followerList.js"></script><div class="follow-wrap">
        <img src="../src/images/followers/mandarin1.jpg" alt="프로필 사진" class="follow-img">
        <div class="txt-wrap">
            <p class="follow-name">애월읍 한라봉 최고 맛집</p>
            <p class="follow-info">정성을 다해 농사짓는 한라봉</p>
        </div>
        <button type="button" class="follow-btn-orange" id="follow-btn">팔로우</button>
    </div>
    <script src="../src/js/followerList.js"></script>
</body>
</html>