<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PODO: 회원가입</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/join_membership.css" />
  </head>
  <body>
    <main class="main">
      <h1 class="title">이메일로 회원가입</h1>
      <form>
        <!-- input wrap - email -->
        <div class="input_wrap">
          <label for="email">이메일</label>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="이메일 주소를 입력해 주세요."
          />
          <p id="email_err_msg" class="err_msg"></p>
        </div>
        <!-- input wrap - pwd -->
        <div class="input_wrap">
          <label for="pwd">비밀번호</label>
          <input
            id="pwd"
            type="password"
            name="pwd"
            placeholder="비밀번호를 설정해 주세요."
          />
          <p id="pwd_err_msg" class="err_msg"></p>
        </div>
        <!-- submit button -->
        <button
          class="btn_submit"
          type="button"
          onclick="handleOnSubmit()"
          disabled
        >
          회원가입
        </button>
      </form>
    </main>
    <script src="../src/js/join_membership.js"></script>
  </body>
</html>
