<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PODO: 로그인</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/login_email.css" />
  </head>
  <body>
    <main class="main">
      <h1 class="title">로그인</h1>
      <form>
        <!-- input wrap - email -->
        <div class="input_wrap">
          <label for="email">이메일</label>
          <input id="email" type="email" name="eMail" />
          <p id="emailError" class="err_msg"></p>
        </div>
        <!-- input wrap - pwd -->
        <div class="input_wrap">
          <label for="pwd">비밀번호</label>
          <input id="pwd" type="password" name="pwd" />
        </div>
        <!-- submit button -->
        <button
          id="submitBtn"
          class="btn_submit"
          type="button"
          onclick="{handleOnSubmit()}"
          disabled
        >
          로그인
        </button>
      </form>
      <!-- link to join page -->
      <a class="link_register" href="/templates/join_membership.html">
        이메일로 회원가입
      </a>
    </main>
    <script src="../src/js/login_email.js" />
  </body>
</html>
