<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIC: 로그인</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/login.css" />
  </head>
  <body>
    <section class="logo_wrap">
      <img class="img_logo" src="../src/images/splash/logo_white.png" alt="" />
      <p>PIC</p>
    </section>
    <section class="login_wrap">
      <div class="btn_wrap">
        <button class="btn_login btn_login_kakao">
          카카오톡 계정으로 로그인
        </button>
        <button class="btn_login btn_login_google">구글 계정으로 로그인</button>
        <button class="btn_login btn_login_facebook">
          페이스북 계정으로 로그인
        </button>
      </div>
      <div class="link_wrap">
        <a class="link_email" href="./login_email.html">이메일로 로그인</a>
        <a href="./join_membership.html">회원가입</a>
      </div>
    </section>
    <script src="../src/js/isLogined.js" />
  </body>
</html>
