<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PODO: 포스팅 상세 화면</title>
  <link rel="stylesheet" href="../src/css/reset.css">
  <link rel="stylesheet" href="../src/css/menubar.css" />
  <link rel="stylesheet" href="../src/css/userpost.css">
  <link rel="stylesheet" href="../src/css/feed.css">
  <link rel="stylesheet" href="../src/css/postDetail.css">
  <link href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="app">
    <header>
      <article class="page-detail-header">
        <button type="button" class="go-back-button">
          <!-- <img src="../src/images/search/icon-arrow-left.png" alt="go-back-button"> -->
        </button>
        <button class="setting-logout-btn">
          <span class="txt-hide">더보기 버튼</span>
        </button>
      </article>
      </section>
      <section class="create-comment">
        <h2 class="txt-hide">새로운 코멘트 작성</h2>
        <!-- 새로운 코멘트 남기기 창 -->
        <div class="new-comment-container">
          <a href="#">
            <img src="../src/images/userpost/user-default.png" alt="user-profile-picture" />
          </a>
          <label for="comment-txt"></label>
          <input type="text" id="comment-txt" placeholder="댓글 입력하기...">
          <button type="submit" class="comment-submit-btn">게시</button>
        </div>
      </section>
    </header>

    <!-- post detail section -->
    <main class="post-detail-container">
      <div class="post-area">
        <article class="post">
          <h2 class="txt-hide">포스트</h2>
          <!-- 포스트는 js에서 불러옴 -->
        </article>
      </div>

      <!-- comment area -->
      <div class="comment-area-container">
        <section class="comments-container">
          <h1 class="txt-hide">코멘트 컨테이너</h1>
          <!-- comment -->
          <!-- 코멘트 있으면 js에서 불러옴 -->
      </div>
    </main>
  </div>

  <script src="../src/js/postDetail.js"></script>
</body>

</html>