<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PODO: 프로필 설정</title>
  <link rel="stylesheet" href="../src/css/reset.css" />
  <link rel="stylesheet" href="../src/css/profile_modification.css" />
</head>

<body>
  <!--  header: 상단바 -->
  <header>
    <button type="button" class="btn-back">
      <img src="../src/images/search/icon-arrow-left.png"
      alt="뒤로가기">
    </button>
    <!-- submit button -->
    <button class="btn_upload" type="button" onclick="handleOnSubmit()" disabled>
      저장
    </button>
  </header>
  <main class="main">
    <form>
      <!-- input wrap profile img -->
      <div class="relative_wrap">
        <!-- 이미지를 둥굴게 처리하기 위한 wrap -->
        <div class="border_wrap">
          <!-- 프로필 이미지 업로드하면 미리보기 이미지로 변경-->
          <img class="img_profile" src="../src/images/join/basic-profile-img.png" alt="profile-img" accept="image/*" />
        </div>
        <!-- file input을 hidden으로 숨기고 label과 연결 -->
        <label for="img_profile">
          <img class="img_upload_btn" src="../src/images/join/img-btn.png" alt="profile-img" />
        </label>
        <input type="file" id="img_profile" hidden accept="image/*" onchange="setProfile(event)" />
      </div>
      <!-- input wrap - username -->
      <div class="input_wrap">
        <label for="userName">사용자 이름</label>
        <input type="text" id="userName" name="userName" placeholder="2~10자 이내여야 합니다." />
        <p id="userNameError" class="err_msg"></p>
      </div>
      <!-- input wrap - accountname -->
      <div class="input_wrap">
        <label for="userID">계정 ID</label>
        <input type="text" id="userID" name="userID" placeholder="영문, 숫자, 특수문자(.),(_)만 사용 가능합니다." />
        <p id="userIDError" class="err_msg"></p>
      </div>
      <!-- input wrap - intro -->
      <div class="input_wrap">
        <label for="userDesc">소개</label>
        <input type="text" id="userDesc" name="userDesc" placeholder="자신과 판매할 상품에 대해 소개해 주세요!" accept="image/*" />
        <p id="userDescError" class="err_msg"></p>
      </div>
    </form>
  </main>
  <script src="../src/js/module.js""></script>
  <script src="../src/js/profile_modification.js" />
</body>

</html>