<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIC: 검색하기</title>
    <link rel="stylesheet" href="../../src/css/style.css" />
    <link rel="stylesheet" href="../../src/css/menubar.css" />
  </head>
  <body>
    <!-- search input section -->
    <header>
      <a href=""><-</a>
      <form action="">
        <input type="text" placeholder="계정검색" />
      </form>
    </header>
    <!-- search result section -->
    <main>
      <!-- user object -->
      <article>
        <img src="../src/images/search/default_profile.png" alt="" />
        <div>
          <p>Lorem, ipsum.</p>
          <span>Lorem, ipsum dolor.</span>
        </div>
      </article>
    </main>
    <!-- menubar module -->
    <section class="bar-menu">
      <div class="btn-home checked">
        <img
          class="img-btn"
          src="../../src/images/icon-home-fill.png"
          alt="btn-home"
        />
        <p>홈</p>
      </div>
      <div class="btn-chat">
        <img
          class="img-btn"
          src="../../src/images/icon-message-circle.png"
          alt="btn-chat"
        />
        <p>채팅</p>
      </div>
      <div class="btn-new-post">
        <img
          class="img-btn"
          src="../../src/images/icon-edit.png"
          alt="btn-new-post"
        />
        <p>게시물 작성</p>
      </div>
      <div class="btn-profile">
        <img
          class="img-btn"
          src="../../src/images/icon-user.png"
          alt="btn-home"
        />
        <p>프로필</p>
      </div>
    </section>
  </body>
</html>
