<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIC: 검색하기</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/menubar.css" />
    <link rel="stylesheet" href="../src/css/search.css" />
  </head>
  <body>
    <!-- search input section -->
    <header>
      <a href="feed.html">
        <img
        class="btn-back"
        src="../src/images/search/icon-arrow-left.png"
        alt="뒤로가기"
        />
      </a>
      <input class="search-input" type="text" placeholder="계정검색" />
    </header>
    <!-- search result section -->
    <main>
      <div class="container">
      <!-- user object - 검색시 js로 불러옴 -->
      </div>
    </main>
    <!-- menubar module -->
    <section class="bar-menu">
      <button class="btn-home checked">
        <img
          class="img-btn"
          src="../src/images/menubar/icon-home-fill.png"
          alt="btn-home"
        />
        <p>홈</p>
      </button>
      <button class="btn-chat">
        <img
          class="img-btn"
          src="../src/images/menubar/icon-message-circle.png"
          alt="btn-chat"
        />
        <p>채팅</p>
      </button>
      <button class="btn-new-post">
        <img
          class="img-btn"
          src="../src/images/menubar/icon-edit.png"
          alt="btn-new-post"
        />
        <p>게시물 작성</p>
      </button>
      <button class="btn-profile">
        <img
          class="img-btn"
          src="../src/images/menubar/icon-user.png"
          alt="btn-home"
        />
        <p>프로필</p>
      </button>
    </section>
    <script src="../src/js/search.js"></script>
  </body>
</html>
