<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIC: 로그인</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/splash.css" />
  </head>
  <body>
    <div class="logo_wrap">
      <img class="img_logo"src="../src/images/splash/logo_purple.png" alt="" />
      <p class="barnd_name">PIC</p>
    </div>
  </body>
</html>
