<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIC: 회원가입</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
  </head>
  <body>
    <main>
      <header>
        <!-- <img src="../src/images/upload/icon-arrow-left.png" alt="" /> -->
        <button>업로드</button>
      </header>
      <section>
        <div>
          <!-- <img src="../src/images/upload/basic-profile-img.png" alt="" /> -->
          <div>
            <textarea
              name="content"
              id="content"
              cols="30"
              rows="10"
            ></textarea>
            <div>
              <!-- <img src="" alt=""> -->
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
