<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PODO: 업로드</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/upload.css" />
  </head>
  <body>
    <!-- header 상단바 -->
    <header>
      <!-- feed로 돌아가는 link -->
      <a href="feed.html">
        <img
          class="btn_back"
          src="../src/images/upload/icon-arrow-left.png"
          alt=""
        />
      </a>
      <!-- submit button -->
      <button
        class="btn_upload"
        type="button"
        onclick="handleOnSubmit()"
        disabled
      >
        업로드
      </button>
    </header>
    <main class="content_wrap">
      <!-- profile img radius처리를 위한 wrap -->
      <div class="profile_wrap">
        <img
          id="profileImg"
          class="img_profile"
          src="../src/images/upload/basic-profile-img.png"
          alt="profile"
        />
      </div>
      <!-- textarea, imgs_warp을 flex column으로 정렬하기 위한 wrapping-->
      <div>
        <!-- input textarea -->
        <textarea
          class="content_text"
          name="content"
          id="content"
          onkeydown="resize(this)"
          onkeyup="resize(this)"
          placeholder="게시글 입력하기.."
        ></textarea>
        <!-- imgs-wrap -->
        <!-- 이미지 추가 시 single, multi로 분기를 나눠 다른 레이아웃으로 innertext -->
        <div class="imgs_wrap"></div>
        <!-- 업로드 버튼 하단 아래로 fixed -->
        <!-- file input을 hidden으로 숨기고 label과 연결 -->
        <label class="img_upload_btn" for="img_upload" tabindex="0">
          <img
            class="img_upload_btn"
            src="../src/images/upload/img-btn.png"
            alt="profile-img"
          />
        </label>
        <input
          type="file"
          id="img_upload"
          accept="image/*"
          onchange="setProfile(event)"
          multiple
          hidden
        />
      </div>
    </main>
    <script src="../src/js/upload.js" />
  </body>
</html>
