<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIC: 업로드</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/upload.css" />
  </head>
  <body>
    <header>
      <a href="feed.html">
        <img
          class="btn_back"
          src="../src/images/upload/icon-arrow-left.png"
          alt=""
        />
      </a>
      <button class="btn_upload" disabled>업로드</button>
    </header>
    <section class="content_wrap">
      <img
        class="img_profile"
        src="../src/images/upload/basic-profile-img.png"
        alt="profile"
      />
      <div>
        <textarea
          class="content_text"
          name="content"
          id="content"
          onkeydown="resize(this)"
          onkeyup="resize(this)"
          placeholder="게시글 입력하기.."
        ></textarea>
        <div class="imgs_wrap"></div>
        <label class="img_upload_btn" for="img_upload" tabindex="0">
          <img
            class="img_upload_btn"
            src="../src/images/upload/img-btn.png"
            alt="profile-img"
          />
        </label>
        <input
          type="file"
          id="img_upload"
          accept="image/*"
          onchange="setProfile(event)"
          multiple
          hidden
        />
      </div>
    </section>
    <script src="../src/js/upload.js" />
  </body>
</html>
